::-webkit-scrollbar {
    width: 13px !important;
    -webkit-appearance: none;
}

::-webkit-scrollbar-track {
    background: #e4e9ed !important;
}

::-webkit-scrollbar-thumb {
    background: #181b21 !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #080f1c !important;
}

::-moz-selection {
    color: white;
    background: #A0BDD9;
}

::selection {
    color: white;
    background: #A0BDD9;
}

#home-title{
    font-family:"Trirong", serif;
}

#myPicture{
    height: 70vh;
}

#image404{
    height: 50vh !important;
    width: auto !important;
}

.sticky-picture{
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

img {
    width: 386px;
    aspect-ratio: auto 386 / 577;
    height: 577px;
    object-fit: cover;
}

body{
    overflow-x: hidden !important;
}

.navbar{
    background-color: #232935;
}

.blue-text{
    color: #232935;
}

.header{
    background-color: #A0BDD9;
}

.white-text{
    color: white !important;
}

.footer{
    background-color: #D5E2ED;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 1.5em;
    z-index: 1024;
}

.flower{
    width: 12vw;
    height: 11vw;
}

.logo{
    width:14.4vw;
    height:11.1vw;
    margin: 0 auto;
}

.left{
    float:left;
}

.right{
    float:right;
}

.header-text{
    font-family: Tangerine;
    font-weight: 700;
    font-size: 4em;
}

.title-text{
    text-decoration: underline;
    font-weight: bold;
}

.gray-text{
    color: #5e5e5e;
}

.light-gray-text{
    color: #707070;
}

.footer-links:hover{
    color: white;
}

a{
    color: #5e5e5e;
    text-decoration: none;
}

.links{
    font-weight: bold;
}

.links:hover{
    color: #A0BDD9;
}

.navbar-links:hover{
    color: #A0BDD9 !important;
}

.carousel{
    height: 50vh;
    width: auto;
}

.carousel-inner img {
    margin: auto;
    height: 50vh;
    width: auto;
}

.carousel-text{
    font-size: .65em;
}
.carousel-caption{
    color: #232935;
    background-color: rgba(213, 226, 237, 0.5);
    font-weight: bold;
    left: 40% !important;
    right: 40% !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: brightness(0) saturate(100%) invert(14%) sepia(7%) saturate(1973%) hue-rotate(182deg) brightness(91%) contrast(92%);
}
